body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 26px;
}

.header-bg {
    background-color: #000000;
}

.header {
    padding: 24px;
    max-width: 1160px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-menu ul {
    color: #ffffff;
    display: flex;
    gap: 24px;
}
