/* HEADER */

.header-bg {
    background-color: var(--cor-13);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    position: relative;
    display: inline-block;
    padding: 16px 0;
}

.header-menu a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 4px;
    background: var(--cor-1);
    transition: width .6s;
    position: absolute;
}

.header-menu a:hover::after {
    width: 100%;
}

